# TODO:

1. Solve missing values problem? What methods used to reasonably handle (e.g. impute) NULL.
2. Different PAYMENT HISTORIES - number of instalments, length of instalments

In [100]:
import numpy as np
import pandas as pd

import plotly.express as px
from plotly.offline import plot

In [101]:
df = pd.read_csv('BAZA_FAKTUROWA_SAMPLE_DATA_TABLE.dsv', sep=';')

C:\Users\MGawryluk1\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning:

Columns (14,22,31,32,33) have mixed types.Specify dtype option on import or set low_memory=False.

In [102]:
df.columns

Index(['COAG_ID', 'CONT_ID', 'CONT_SYCU_ID', 'COSH_STATUS', 'COSH_VALID_FROM',
       'COSH_VALID_TO', 'COAG_CUAC_ID', 'COAG_AGREEMENT_DATE',
       'COAG_EXPIRE_DATE', 'COAG_DURATION', 'COAG_EQUIP_OFFER_TYPE',
       'COAG_LIFE_SEGMENT_CODE', 'COAG_CINP_END_DATE',
       'COAG_HANDSET_CUSTOMER_PRICE', 'COAG_HANDSET_FULL_PRICE',
       'COAG_LAST_AGREEMENT_FLAG', 'CONT_PRIME_SEGMENT_CODE',
       'CONT_DEACTIVATE_DATE', 'CONT_DEACTIVATE_CSCR_ID', 'CONT_TYPE', 'RN',
       'DAY_OF_SAMPLE', 'DAYS_OF_COAG_LIFE', 'SYCU_BIRTH_DATE', 'AGE',
       'SYCU_GENDER', 'SYCU_ACTIVATION_DATE', 'DAYS_FROM_SYCU_ACTIVATION',
       'CUAC_PESEL', 'CUAC_NIP', 'CUAC_REGON', 'DEFAULT_DATE',
       'SC_FINISH_DATE', 'DAYS_TO_DEFAULT', 'CONI_BASE_VALUE',
       'CONI_BRUTTO_INSTALMENT', 'CONI_DURATION_MONTHS', 'BILL_ID',
       'BILL_BSCS_CUSTOMER_ID', 'BILL_INVOICE_NO', 'OHREFDATE', 'OHDUEDATE',
       'CADXACT', 'CADOXACT', 'CADCURAMT_PAY', 'CADCONVDATE_EXCHANGE_GL',
       'ROWNUMBER'],
      dtype='object')

In [103]:
len(df)

1929349

- BILL_INVOICE_DATE
- CADCONVDATE_EXCHANGE_GL DATA PLATNOSCI
- ohduedate DATA WYMAGALNOSCI

In [104]:
select = ['BILL_ID',
       'BILL_BSCS_CUSTOMER_ID', 'BILL_INVOICE_NO', 'OHREFDATE', 'OHDUEDATE',
       'CADXACT', 'CADOXACT', 'CADCURAMT_PAY', 'CADCONVDATE_EXCHANGE_GL',
       'ROWNUMBER']

short = df[select]

In [105]:
short = short.drop_duplicates()

In [106]:
short = short.iloc[:-1,:]

In [107]:
short.dtypes

BILL_ID                     int64
BILL_BSCS_CUSTOMER_ID       int64
BILL_INVOICE_NO            object
OHREFDATE                  object
OHDUEDATE                  object
CADXACT                     int64
CADOXACT                    int64
CADCURAMT_PAY              object
CADCONVDATE_EXCHANGE_GL    object
ROWNUMBER                   int64
dtype: object

In [108]:
short

,BILL_ID,BILL_BSCS_CUSTOMER_ID,BILL_INVOICE_NO,OHREFDATE,OHDUEDATE,CADXACT,CADOXACT,CADCURAMT_PAY,CADCONVDATE_EXCHANGE_GL,ROWNUMBER
0,406328808,37833,Q49007710911,11/09/28,11/10/12,677260847,725255321,35,11/10/13,2
1,406328808,37833,Q49007710911,11/10/28,11/11/11,684107614,732256690,35,11/11/08,3
2,406328808,37833,Q49007710911,11/11/28,11/12/12,693265052,739347295,35,11/12/09,4
3,406328808,37833,Q49007710911,11/12/28,12/01/11,701903359,746619113,35,12/01/11,5
4,406328808,37833,Q49007710911,12/01/28,12/02/11,709590573,753933826,35,12/02/09,6
...,...,...,...,...,...,...,...,...,...,...
1929343,847231590,16598747,Q01700350117,18/07/28,18/08/11,1769254040,1663099464,"43,05",18/10/10,20
1929344,847231590,16598747,Q01700350117,18/08/28,18/09/11,1769254041,1677507976,"43,05",18/10/10,21
1929345,847231590,16598747,Q01700350117,18/09/28,18/10/12,1801502863,1691842604,"43,05",18/12/18,22
1929346,847231590,16598747,Q01700350117,18/10/28,18/11/11,1801502868,1706016229,"43,05",18/12/18,23
1929347,847231590,16598747,Q01700350117,18/11/28,18/12/12,1801502872,1720101423,"43,05",18/12/18,24

In [109]:
short.dtypes

BILL_ID                     int64
BILL_BSCS_CUSTOMER_ID       int64
BILL_INVOICE_NO            object
OHREFDATE                  object
OHDUEDATE                  object
CADXACT                     int64
CADOXACT                    int64
CADCURAMT_PAY              object
CADCONVDATE_EXCHANGE_GL    object
ROWNUMBER                   int64
dtype: object

In [110]:
date_vars = ['OHREFDATE', 'OHDUEDATE', 'CADCONVDATE_EXCHANGE_GL']

for v in date_vars:
    short[v] = pd.to_datetime(short[v], format='%y/%m/%d')

In [111]:
short.dtypes

BILL_ID                             int64
BILL_BSCS_CUSTOMER_ID               int64
BILL_INVOICE_NO                    object
OHREFDATE                  datetime64[ns]
OHDUEDATE                  datetime64[ns]
CADXACT                             int64
CADOXACT                            int64
CADCURAMT_PAY                      object
CADCONVDATE_EXCHANGE_GL    datetime64[ns]
ROWNUMBER                           int64
dtype: object

In [112]:
short

,BILL_ID,BILL_BSCS_CUSTOMER_ID,BILL_INVOICE_NO,OHREFDATE,OHDUEDATE,CADXACT,CADOXACT,CADCURAMT_PAY,CADCONVDATE_EXCHANGE_GL,ROWNUMBER
0,406328808,37833,Q49007710911,2011-09-28,2011-10-12,677260847,725255321,35,2011-10-13,2
1,406328808,37833,Q49007710911,2011-10-28,2011-11-11,684107614,732256690,35,2011-11-08,3
2,406328808,37833,Q49007710911,2011-11-28,2011-12-12,693265052,739347295,35,2011-12-09,4
3,406328808,37833,Q49007710911,2011-12-28,2012-01-11,701903359,746619113,35,2012-01-11,5
4,406328808,37833,Q49007710911,2012-01-28,2012-02-11,709590573,753933826,35,2012-02-09,6
...,...,...,...,...,...,...,...,...,...,...
1929343,847231590,16598747,Q01700350117,2018-07-28,2018-08-11,1769254040,1663099464,"43,05",2018-10-10,20
1929344,847231590,16598747,Q01700350117,2018-08-28,2018-09-11,1769254041,1677507976,"43,05",2018-10-10,21
1929345,847231590,16598747,Q01700350117,2018-09-28,2018-10-12,1801502863,1691842604,"43,05",2018-12-18,22
1929346,847231590,16598747,Q01700350117,2018-10-28,2018-11-11,1801502868,1706016229,"43,05",2018-12-18,23
1929347,847231590,16598747,Q01700350117,2018-11-28,2018-12-12,1801502872,1720101423,"43,05",2018-12-18,24

In [113]:
# Przerobić na 
# BILL w rows
# Kolumny platnosci
# Wartosci po ilu dniach zaplacili OHDUEDATE - CADCONVDATE_EXCHANGE_GL

In [114]:
short['when_paid_days'] = (short.CADCONVDATE_EXCHANGE_GL - short.OHDUEDATE).dt.days

In [115]:
# ROWNUMBER as relative rata

In [116]:
short.ROWNUMBER = short.ROWNUMBER - 1

In [ ]:
unibill = short.groupby(['BILL_ID']).nunique()['BILL_INVOICE_NO']

In [ ]:
np.unique(unibill)

# PIVOTING

In [ ]:
cdf = short.pivot(index='BILL_ID', columns ='ROWNUMBER', values='when_paid_days')
cdf

In [ ]:
# Only to contract length 36

In [ ]:
cdf = cdf.iloc[:,:36]
cdf

In [ ]:
cdf = cdf.iloc[:,:24]
cdf

In [ ]:
cdf.values

In [ ]:
cdf[~cdf.isna()]

In [ ]:
kdcf = cdf.loc[~cdf.isna().any(axis=1),:]
kdcf

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmeans = KMeans()

In [ ]:
clusters = kmeans.fit_predict(kdcf)

In [ ]:
px.histogram(clusters)